*{
    margin: 0;
    padding: 0;
}

.grid-container{
    display: grid;
    grid-template-columns: 98vw;
    grid-template-rows: 20vh, 80vh;
    grid-template-areas:
    "nav
    main";
}

.nav{
    grid-area: nav;
}

.main{
    grid-area: main;
    height: 100vh;
    background-color: rgb(186, 236, 205);
}

button{
    margin: 3px;
    padding: 3px;
}

input{
    width: 50vw;
    margin: 10px;
    padding: 10px;
}

#contResultado{
    background-color: rgb(139, 170, 255);
}